h1 {
  border: 5px black;
  border-radius: 5px;
  color: blue;
}

h2 {
  color: white;
}

body {
  background-color: #282b31;
}

p {
  color: white;
}

.rules {
  border: 5px #7c6c52;
  border-radius: 5px;
  background-color: #7c6c52;
}
